
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://st5.depositphotos.com/15051694/65042/i/600/depositphotos_650420408-stock-photo-visually-striking-display-burgers-variety.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}


.container {
    background-color: rgba(49, 38, 165, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}


h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Formulário */
form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

li {
    background-color: #650b62;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    background-color: #2d628f;
}

#clear-list {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-list:hover {
    background-color: #c82333;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    input, button {
        font-size: 1rem;
    }
}
